{
  "hidden_dim": 100,
  "act": "tanh",
  "sparse_normalization": false,
  "anneal_cap": 0.3,
  "total_anneal_steps": 0,
  "learning_rate": 0.001,
  "weight_decay": 1e-5,
  "batch_size": 800,
  "test_batch_size": 800,
  "num_epochs": 470,
  "early_stop": false,
  "patience": 100,
  "dropout_ratio": 0.2,
  "weighted_recon": 0.5
}