# vae config
{
    "algorithm": "grid",

    "parameters": {
        "hidden_dim": {"type": "discrete", "values": [100, 150]},

        "act": {"type": "categorical", "values": ["tanh"]},
        "anneal_cap": {"type": "discrete", "values": [0.5]},

        "dropout_ratio": {"type": "discrete", "values": [0.2]},
        "learning_rate": {"type": "discrete", "values": [1e-2, 1e-3, 1e-4]},
        "weight_decay": {"type": "discrete", "values": [0, 1e-5, 1e-4]},

        "pos_uk_num": {"type": "discrete", "values": [2]},
        "neg_uk_num": {"type": "discrete", "values": [2]},
        "pos_kk_num": {"type": "discrete", "values": [5]},
        "neg_kk_num": {"type": "discrete", "values": [100]},

        "kernel_method": {"type": "categorical", "values": ["BK"]},
        "temperature_tau_u": {"type": "discrete", "values": [1]},
        "temperature_tau_k": {"type": "discrete", "values": [1]},
        "hp_contrastive_u": {"type": "discrete", "values": [0.001, 0.01, 0.1, 0.5, 1, 10]},
        "use_default_hp": {"type": "discrete", "values": [False]},

        "batch_size": {"type": "discrete", "values": [800]},
        "test_batch_size": {"type": "discrete", "values": [800]},
        "num_epochs": {"type": "discrete", "values": [5000]},
        "early_stop": {"type": "discrete", "values": [True]},
        'patience': {"type": "discrete", "values": [100]},
        "total_anneal_steps": {"type": "discrete", "values": [0]},
        "sparse_normalization": {"type": "discrete", "values": [False]},
        "weighted_recon": {"type": "discrete", "values": [1]},
    },

    # Declare what we will be optimizing, and how:
    "spec": {
        "randomize": True,
        "metric": "loss",
        "objective": "minimize",
    },
}