{
  "hidden_dim": 150,
  "act": "tanh",
  "sparse_normalization": false,
  "anneal_cap": 0.3,
  "total_anneal_steps": 0,
  "learning_rate": 0.001,
  "weight_decay": 0,
  "batch_size": 800,
  "test_batch_size": 800,
  "num_epochs": 230,
  "early_stop": false,
  "patience": 100,
  "dropout_ratio": 0.2,
  "pos_uk_num": 20,
  "neg_uk_num": 2,
  "pos_kk_num": 2,
  "neg_kk_num": 100,
  "kernel_method": "BK",
  "temperature_tau_u": 1,
  "temperature_tau_k": 1,
  "use_default_hp": false,
  "hp_contrastive_u": 0.01,
  "weighted_recon": 0.5
}